<div class="termo-container">
    <div class="termo-card">
      <div class="termo-header">
        <h1>Termo de Aceite para Participação em Vaquinha Online</h1>
        <div class="line"></div>
      </div>
  
      <div class="termo-content">
        <section class="termo-section">
          <h2>1. Propósito da Doação</h2>
          <p>
            Você declara estar ciente do propósito da campanha para a qual está contribuindo. Todas as doações realizadas destinam-se exclusivamente ao objetivo descrito na página da campanha, sendo vedada qualquer destinação diversa.
          </p>
        </section>
  
        <section class="termo-section">
          <h2>2. Privacidade e Segurança de Dados</h2>
          <p>
            Garantimos que seus dados pessoais e financeiros estão seguros em nossos sistemas e protegidos em conformidade com a legislação vigente de proteção de dados pessoais. Nenhuma informação será compartilhada com terceiros sem o seu consentimento prévio.
          </p>
        </section>
  
        <section class="termo-section">
          <h2>3. Exclusão de Conta e Dados</h2>
          <p>
            Você tem o direito de, a qualquer momento, solicitar a exclusão de sua conta e de todos os seus dados armazenados em nossa plataforma. Essa solicitação pode ser feita por meio da seção de configurações de sua conta ou entrando em contato com nossa equipe de suporte.
          </p>
        </section>
  
        <section class="termo-section">
          <h2>4. Transparência</h2>
          <p>
            A plataforma se compromete a disponibilizar informações claras e atualizadas sobre o andamento e o uso dos recursos arrecadados na campanha.
          </p>
        </section>
  
        <section class="termo-section">
          <h2>5. Irreversibilidade da Doação</h2>
          <p>
            Após a confirmação da doação, os valores não poderão ser devolvidos, exceto em casos de cancelamento ou invalidação da campanha conforme nossa política interna.
          </p>
        </section>
  
        <section class="termo-section">
          <h2>6. Consentimento</h2>
          <p>
            Ao aceitar este termo, você reconhece que leu, entendeu e concorda com os pontos acima. Seu apoio é fundamental para a realização dos objetivos das campanhas em nossa plataforma.
          </p>
        </section>
  
        <!-- <div class="action-buttons">
          <button (click)="acceptTerm()" class="accept-button">Aceitar Termo</button>
          <button (click)="closeTerm()" class="close-button">Fechar</button>
        </div> -->
      </div>
    </div>
  </div>
  