<div class="campaign-container">
    <!-- Vídeo em destaque -->
    <div class="video-container">
        <video class="campaign-video" controls #campaignVideo loop>
            <source src="assets/videos/video-mateus.mp4" type="video/mp4" />
            Seu navegador não suporta o elemento de vídeo.
        </video>
    </div>

    <!-- Fotos da campanha -->
    <div class="photos-container">
        <div class="photo-card">
            <img src="assets/img/mateusefamilia.jpg" alt="Imagem 2" />
            <p>Mateus e Familia antes do acidente em 2024</p>
        </div>
        <div class="photo-card">
            <img src="assets/img/mateus-internado.jpeg" alt="Mateus e Familia" />
            <p>Mateus pós acidente em 2025</p>
        </div>
    </div>
</div>