<div class="doacao-container">
    <h2 class="doacao-title">A sua doação será feita através do Mercado Pago</h2>
    <p class="doacao-text">
        "Você poderá realizar sua doação via PIX ou cartão de crédito. Os valores serão destinados a Sergio Arruda da
        Silva (Tio do Mateus Augusto)."
    </p>
    <p>
        Todos os dados inseridos são essenciais para garantir total transparência e evitar possíveis questões legais no
        futuro. Agradecemos sua compreensão e apoio!
    </p>
    <p>📞 Telefone para contato:</p>
    <ul>
        <li>
            <a href="https://wa.me/5511961925289" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" width="20" alt="WhatsApp">
                (11) 96192-5289 - Sergio
            </a>
        </li>
        <li>
            <a href="https://wa.me/5511941727145" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" width="20" alt="WhatsApp">
                (11) 94172-7145 - Gabrielle
            </a>
        </li>
    </ul>

    <button mat-raised-button class="doacao-btn" (click)="verificarCadastro()">
        Fazer Doação
    </button>
</div>